@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
    /* text-align:center; */
}
.navbar{
    background-color: #AAA5FF; 
    padding-bottom:0px;
}
.navbar-light .navbar-nav .nav-link{
    color: #312e5a;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#312e5a;
}
.nav-link{
    margin-right:1em;
}
.navbar-nav > li {
    float: left;
    position: relative;
  }
.nav-link::after {
    content: " ";
    position: absolute;
    background-color:black;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 40%;
    bottom: 0;
    transition: .35s ease;
}
.nav-link:hover::after {
    width: 70%;
}
.current .nav-link{
    border-bottom: 3px solid black;
}
.navbar-brand{
    font-weight:900;
    font-size:185%;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom: 0px;
}
.navbar-brand span{
    font-weight:bold;
    font-size:50%;
}