@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
    text-align:center;
}
.navbar{
    background-color: #AAA5FF; 
    padding-bottom:0px;
}
.navbar-light .navbar-nav .nav-link{
    color: #312e5a;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#312e5a;
}
.nav-link{
    margin-right:1em;
}
.navbar-nav > li {
    float: left;
    position: relative;
  }
.nav-link::after {
    content: " ";
    position: absolute;
    background-color:black;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 40%;
    bottom: 0;
    transition: .35s ease;
}
.nav-link:hover::after {
    width: 70%;
}
.current .nav-link{
    border-bottom: 3px solid black;
}
li{
    text-align:left;
    font-size:120%;
}
.basic, .premium, .exclusive{
    margin-top:3em;
}
.plus{
    margin-top:1.48em;
}
.plus>p{
    text-align:left;
    margin-bottom:1px;
}

@media screen and (max-width:550px){
    .plus,.basic, .premium, .exclusive{
        /* display:inline-block; */
        padding: 5% 0% 5% 1%;
        margin: auto;
        width: 60%;

    }
}
.divborder{
    height:22em;
    /* margin-top:0.5em; */
    padding-top:2em;
    border:2px solid #b3b1b1;
    border-radius: 2em;
}
.divborder>p{
    position: relative;
    top:140px;
    font-size:1.3em;
}
.divborder>h3{
    margin:auto;
}
.hidden{
    display:none;
}
hr{
    width:100%;
    /* position: relative; 
    top: 10em;  */
    border: none; 
    height: 2px; 
    background: #b3b1b1; 
    margin-top:9em;
}
.basic hr{
    margin-top:11em;
}
@media screen and (min-width:1020px){  /*Ipad pro*/
    hr{
        margin-top:9.8em;
    }
    .basic hr{ 
        margin-top:12.5em;
    }
    .divborder>p{
        position: relative;
        top:130px;
    }
   
}
@media screen and (max-width:770px) and (min-width:430px){
    hr{
        margin-top:8em;
    }
    .basic hr{ 
        margin-top:10.8em;
    }
    .divborder>p{
        position: relative;
        top:130px;
        font-size:1.3em;
    }
}
@media screen and (max-width:550px){
    hr{
        margin-top:9em;
    }
    .basic hr{ 
        margin-top:12em;
    }
}
@media screen and (max-width:320px){  /*Galaxy fold*/
    hr{
        margin-top:8em;
    }
    .hidden{
        display:block;
        margin-top:1em;
        height:0.4px;
        width:60%;
    }
    .basic hr{ 
        margin-top:10.5em;
    }
    .divborder>p{
        position: relative;
        top:130px;
        font-size:1.3em;
    }
}
.faq{
    
    margin-top:3em;
}
.faq a{
    text-decoration:none;
    background-color:  #AAA5FF;
    color:black;
    padding: 10px 30px;
    border: none;
    border-radius: 100px 100px 100px 100px;
}
.copyright{
    font-weight:200;
    margin-top:3%;
}